{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="./svg/back-arrow.svg" alt="">
        </button>
        <button class="button">
            <img src="./img/profilePic.png" alt="Profile">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <main class="post"> --}}
        {{!-- <div class="post__section">
            <div class="post__header">
                <div class="post__tags">
                    <div class="post__tag post__tag--important">Важливо</div>
                    <div class="post__tag post__tag--new">Нова</div>
                </div>
                <div class="post__date">25.01</div>
            </div>

            <div class="post__content">
                До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
            </div>
        </div>

        <div class="post__section post__section--viewed">
            <div class="post__header">
                <div class="post__tags">
                    <div class="post__tag post__tag--important">Важливо</div>
                    <div class="post__tag post__tag--new">Нова</div>
                </div>
                <div class="post__date">15.01</div>
            </div>

            <div class="post__content">
                Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.
            </div>
        </div>

        <div class="post__section">
            <div class="post__header">
                <div class="post__tags">
                    <div class="post__tag post__tag--important">Важливо</div>
                    <div class="post__tag post__tag--new">Нова</div>
                </div>
                <div class="post__date">25.01</div>
            </div>

            <div class="post__content">
                До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
            </div>
        </div> --}}
        {{!--
    </main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}