.page {
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;

  &__item {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
    color: #e6e6e6;
    padding-bottom: 12px;
    transition: opacity 0.7s;

    &:hover {
      opacity: 0.6;
    }

    &--active {
      color: #000;
      border-bottom: 2px solid #000;
    }
  }
}

.main__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main__title {
  font-size: 18px;
  font-weight: bold;
}

.main__text {
  font-size: 14px;
}

.main__button {
  font-size: 14px;
  background-color: #f46f17;
  border-radius: 12px;
  color: #fff;
  padding: 12px 66px;
  transition: opacity 0.7s;

  &:hover {
    opacity: 0.8;
  }
}
