{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <nav class="nav">
        <button class="nav__item">
            <div>База знань</div>
        </button>
        <button class="nav__item nav__item--active">
            <div>Інформація</div>
        </button>
    </nav>

    <main class="main">
        <div class="main__card">
            <img class="main__top-image" src="./img/community-image1.png" width="343px" width="160px">

            <div class="main__content">
                <h2 class="main__title">Що таке база знань?</h2>
                <p class="main__info">База знаний — база данных, содержащая правила вывода и информацию о человеческом
                    опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также
                    содержит информацию, являющуюся результатом решения предыдущих задач. </p>
            </div>

            <button class="main__button">Перейти до ком'юніті у Телеграм</button>
        </div>
    </main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}